<header>
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-info">Angular Crud</button>
        </div>
        <div class="col-sm-6" >
            <button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addmodel()">Add User</button>
        </div>
    </div>
    </div>
</header>
<br/><br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let user of data; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.age}}</td>
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" (click)="edit(user.id, user)" data-bs-target="#exampleModal"><i class="fa fa-edit"></i>Edit</button>
                        <button class="btn btn-danger" style="margin-left: 20px;" (click)="delete(i, user.id)"><i class="fa fa-trash"></i>Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{isedit ? 'Edit User Details' : 'Add User'}}</h5>
                <span data-bs-dismiss="modal" aria-label="class" class="close-btn1">x</span>
            </div>

            <div class="modal-body">
                <div class="form-box">
                    <form [formGroup]="userform" (ngSubmit)="isedit ? update(userform) : sendata(userform)">
                        
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" placeholder="Name" name="name" formControlName="name" class="form-control mt-3 mb-3"/>
                        </div>
                        <div *ngIf="name?.touched && name?.invalid">
                            <small class="text-danger" *ngIf="name?.errors?.['required']">name is required</small>
                            <small class="text-danger" *ngIf="name?.errors?.['minlength']">name is too short</small>
                          </div>
                          
                        
                         
            

                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" placeholder="Email" formControlName="email" class="form-control mt-3 mb-3"/>
                        </div>
                       
                        <div *ngIf="email?.touched && email?.invalid">
                            <small class="text-danger" *ngIf="email.errors?.['required']">email is required</small>
                            <small class="text-danger" *ngIf="email.errors?.['minlength']">email is too short</small>
                          </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" placeholder="Phone" formControlName="phone" class="form-control mt-3 mb-3"/>
                        </div>
                        <div *ngIf="phone.touched && phone.invalid">
                            <small class="text-danger" *ngIf="phone.errors?.['required']">phone number is required</small>
                            <small class="text-danger" *ngIf="phone.errors?.['minlength']">phone number is too short</small>
                          </div>
                        <div class="form-group">
                            <label>Age</label>
                            <input type="number" placeholder="Age" formControlName="age" class="form-control mt-3 mb-3"/>
                        </div>
                        <div *ngIf="age.touched && age.invalid">
                            <small class="text-danger" *ngIf="age.errors?.['required']">age is required</small>
                            <small class="text-danger" *ngIf="age.errors?.['minlength']">age is too short</small>
                          </div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">{{isedit ? 'UPDATE' : 'SUMBIT'}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>